.App {
  text-align: center;
}

.selected {
  background: rgba(231, 231, 95, 0.212) !important;
}

.options {
  padding: 8px;
  cursor: pointer;
}

ul {
  list-style-type: none;
}

ul li {
  margin: 5px;
}

body {
  display: flex;
  justify-content: center;
  color: rgb(54, 50, 50);
  font-family: 'Source Code Pro', monospace;
  font-size: 20px;
}

h2 {
  font-size: 32px;
  padding: 20px;
  color: black;
  font-family: 'Source Code Pro', monospace;
}

.container {
  display: next;
  justify-content: center;
  margin-top: 12em;
}

.inner {
  text-align: center;
  border: solid 10px rgba(255, 140, 140, 0.383);
  overflow: hidden;
  padding: 0.4em;
  animation: Slide_up 1.4s ease;
}

.inner > button {
  margin-top: 2em;
  padding: 1em 2.5em;
  font-size: 1em;
  border-radius: 2em;
  border: none;
  background-color: rgb(255, 248, 234);
  color: rgb(54, 50, 50);
  font-family: 'Source Code Pro', monospace;
  animation: Slide_up 1.4s ease;
}

@keyframes Slide_up{
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}